
@{
    ViewBag.Title = "Results";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="/signalr/hubs"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/client_main_v1.5.js"></script>

<h2>Results</h2>

@if (ViewBag.Out == null)
{
    <p>Нет решенных задач</p>
}
else
{
        <p>№&nbsp;&nbsp;Ответ</p>
        foreach (var n in ViewBag.Out)
        {
            <p>@n</p>
        }
}


<a href="~/Home/Master">На главную</a>

