
@{
    ViewBag.Title = "Results";
}

<script src="~/Scripts/client_main.js"></script>

<h2>Results</h2>

@foreach (var n in ViewBag.Nums)
{
    <p>@n</p><br>
}

<a href="~/Home/Master">На главную</a>

