
@{
    ViewBag.Title = "Results";
}

<script src="~/Scripts/client_main.js"></script>

<h2>Results</h2>

@if (ViewBag.Out == null)
{
    <p>Нет решенных задач</p>
}
else
{
        <p>№&nbsp;&nbsp;Ответ</p>
        foreach (var n in ViewBag.Out)
        {
            <p>@n</p>
        }
}


<a href="~/Home/Master">На главную</a>

