
@{
    ViewBag.Title = "Results";
}

<script src="~/Scripts/client_main.js"></script>

<h2>Results</h2>

@if (ViewBag.Out == "")
{
    <p>Нет решенных задач</p>
}
else
{
    foreach (var n in ViewBag.Out)
    {
        <p>@n</p><br>
    }    
}


<a href="~/Home/Master">На главную</a>

