@{
    ViewBag.Title = "Send Func";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="/signalr/hubs"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/client_main_v1.5.js"></script>

<a href="~/Home/Master">Глагне</a>

<div style="background-color:#fbb0f5;">
    @using (Html.BeginForm("UploadFunc", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="upload" />
        <input type="submit" value="Загрузить" />
    }
</div>
@ViewBag.MessagerFromControl

