
@{
    ViewBag.Title = "Master";
}
<script src="~/Scripts/client_test.js"></script>
<script src="~/Scripts/client_main.js"></script>

<h2>Master</h2>
<div style="background-color:#fbb0f5;">
    <a href="~/Home/Send">send data</a>
    <br />
    <a href="~/Home/Results">results</a>
</div>

