@{
    ViewBag.Title = "Send Page";
}
<div style="background-color:#fbb0f5;">
    @using (Html.BeginForm("GetUserData", "Home"))
    {
        <table>
            <tr>
                <td>
                    @Html.Label("Данные")
                </td>
                <td style="text-align:right">
                    @Html.TextBox("userData")
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" />
    }
</div>